!!! 5
html
  head
    meta(charset='UTF-8')
    block head
      title Spring Boot Tutorial

      meta(name="viewport", content="width=device-width, initial-scale=1")

      //- Meta tags to use csrf token in ajax forms
      meta(name="_csrf", content="#{_csrf.token}")
      meta(name="_csrf_header", content="#{_csrf.headerName}")

      link(rel="stylesheet", href="resources/vendor/stylesheets/bootstrap.min.css")
      link(rel="stylesheet", href="resources/vendor/stylesheets/bootstrap-theme.min.css")
      link(rel="stylesheet", href="resources/stylesheets/app.css")

      script(type="application/javascript", src="resources/vendor/scripts/jquery-2.1.4.min.js")
      script(type="application/javascript", src="resources/vendor/scripts/bootstrap.min.js")
      script(type="application/javascript", src="resources/scripts/app.js")
  body
    .container
      block content
