extends ../layout

block append content

  h1 Hello Spring Boot

  .row
    if errors
      .alert.alert-danger
        ul
          each error, key in errors
            li #{key} #{error}

    form(action="/", method="post")
      input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
      .form-group
        label(for="name-input") Name
        input#name-input.form-control(name="name", placeholder="Your name", type="text")
      .form-group
        label(for="email-input") Email
        input#email-input.form-control(name="email", placeholder="Your email", type="text")
      button.btn.btn-success(type="submit") Subscribe
