extends ../layout

block append content
  .row
    table.table.table-hover
      thead
        tr
          th Id
          th Name
          th Email
      tbody
        for subscription in subscriptions
          tr
            td= subscription.id
            td= subscription.name
            td= subscription.email
