Unstaged changes after reset:
M	src/main/java/it/sevenbits/springboottutorial/config/SecurityConfig.java
M	src/main/java/it/sevenbits/springboottutorial/config/WebConfig.java
M	src/main/java/it/sevenbits/springboottutorial/core/domain/User.java
M	src/main/java/it/sevenbits/springboottutorial/core/mappers/UserMapper.java
M	src/main/java/it/sevenbits/springboottutorial/core/repository/UserRepository.java
M	src/main/java/it/sevenbits/springboottutorial/web/controllers/SessionController.java
M	src/main/resources/templates/home/index.jade
M	src/main/resources/templates/layout.jade
M	src/main/resources/templates/session/login.jade
